@model IFormFile

<form method="post" enctype="multipart/form-data" action="/Admin/UploadQuestions">
    <input type="file" name="file" accept=".xlsx" />
    <button type="submit">Upload File</button>
</form>
